<html>
    <body>
        <form action='searchField' method="post">
            <div style="font-size: 20px; font-weight: bold">Available files:</div>
            <div>(Add new csv file to DataFile\ directory.</div>
            <div> Add file name with directory to file_list</div>
            <div> variable in InitValues.py file.)</div>
            <br>
            {% for item in file_list %}
                <li>{{ item }}</li>
            {% endfor %}
            <h3>Select file:</h3>
            <select name="select_file">
                {% for item in file_list %}
                    <option value={{item}}>{{item}}</option>
                {% endfor %}
            </select>

            <h3>Select search field:</h3>
            <select name="search_field">
                <option value="EAN">EAN</option>
                <option value="PRODUCT NAME">Product name</option>
                <option value="ITEM SKU">Item SKU</option>
                <option value="BRAND NAME">Brand name</option>
                <option value="REQUIRED PRICE TO AMAZON">Required price to amazon</option>
            </select>
            
            <h3>Input search field value:<h3>
          <input type="text" name="search_value"/>
          <button type="submit">Search</button>
        </form>
        
        <h3>Search result:</h3>
        <div style="font-size: 12px; font-weight: bold">SELECTED FILE: {{select_file}}</div>
        <div style="font-size: 12px; font-weight: bold">FIELD: {{field}}</div>
        <div style="font-size: 12px; font-weight: bold">VALUE: {{value}}</div>
        <br>
        {% if bool %}
            {% for item in dict_list %}
                <li style="font-size:12px">{{item}}</li>
            {% endfor %}
        {% else %}
            <h5>No search result.</h5>
        {% endif %}

    </body>
</html>